<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jude.lbschat">

    <application
        android:name=".app.APP"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="${AMAP_KAY}"/>
        <meta-data
            android:name="SMS_MOB_APPKEY"
            android:value="${SMS_MOB_APPKEY}"
            />

        <meta-data
            android:name="SMS_MOB_APPSECRET"
            android:value="${SMS_MOB_APPSECRET}"
            />

        <!-- 友盟 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="${UMENG_APPKEY}" />

        <meta-data
            android:name="RONG_CLOUD_APP_KEY"
            android:value="${RONG_CLOUD_APP_KEY}" />

        <meta-data
            android:name="MODEL"
            android:value="com.jude.lbschat.data.LocationModel"
            />


        <activity
            android:name=".presentation.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/NoSwipeTheme">
        </activity>
        <activity android:name=".presentation.LaunchActivity"
            android:theme="@style/LaunchTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".presentation.LoginActivity"
            android:theme="@style/AppTheme.Blue"
            android:label="登陆"/>
        <activity android:name=".presentation.RegisterActivity"
            android:theme="@style/AppTheme.Blue"
            android:label="注册"/>
        <activity android:name=".presentation.FindPasswordActivity"
            android:theme="@style/AppTheme.Blue"
            android:label="找回密码"/>
        <activity android:name=".presentation.PersonDetailActivity"
            android:label=""/>
        <activity android:name=".presentation.EditActivity"
            android:label="信息编辑"
            />
        <activity android:name=".presentation.AboutActivity"
            android:label="关于"/>
        <activity android:name=".presentation.ChatActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:label="聊天">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="com.jude.lbschat"
                    android:pathPrefix="/conversation/"
                    android:scheme="rong" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.ConversationListActivity"
            android:screenOrientation="portrait"
            android:label="我的群组"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="com.jude.lbschat"
                    android:pathPrefix="/conversationlist"
                    android:scheme="rong" />
            </intent-filter>
        </activity>
    </application>

</manifest>